*{
	padding: 0;
	margin: 0;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url('button.jpg');
	background-size: cover;
	font-family: 'Dosis', sans-serif;
}

.logo{
	color: white;
}

.logo:hover{
    background-color: orange;
}

.logo img{
	height: 40px;
	width: 40px;
}

.header_menu{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/*border: 1px solid red;*/
}

.menu_list{
	width: 80%;
	text-align: right;
	padding-right: 10px;
}

.menu_list li{
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 2px;
	padding-right: 50px;
}

.menu_list li a{
	color: rgba(255, 255, 255, .8);
	text-decoration: none;
}

.menu_list li a:hover{
	color: orange;
}

.header_content{
	color: white;
	text-transform: uppercase;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 40%;
	left: 40%;
}

.header_content h2{
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.2em;
}

.header_content h1{
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 0.5em;
}

.header_content button{
	height: auto;
	padding: 8px 37px;
	color: #fff;
	font-size: 12px;
	background-color: transparent;
	margin-right: 20px;
}

.header_content button a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	background-color: orange;
}

.header_content button:hover{
	border: 1px solid white;
}



























































